---
import Layout from "../../layouts/Layout.astro";

const REGULATION = [
    {
        number: "#01",
        ruler: "En caso de empate, el ganador de cada partido se decide con una tanda de penaltis desde medio campo.",
        weapons: [],
    },
    {
        number: "#02",
        ruler: "En la Kings League jugamos con fuera de juego.",
        weapons: [],
    },
    {
        number: "#03",
        ruler: "Los saques de banda se realizan con la mano.",
        weapons: [],
    },
    {
        number: "#04",
        ruler: "Las sustituciones de jugadores durante el partido son ilimitadas.",
        weapons: [],
    },
    {
        number: "#05",
        ruler: "La tarjeta amarilla supone 2’ de exclusión. Las rojas, 5’ hasta que entre un sustituto.",
        weapons: [],
    },
    {
        number: "#06",
        ruler: "Para el saque inicial, el balón se sitúa en el centro del campo y los jugadores arrancan desde la línea de fondo.",
        weapons: [],
    },
    {
        number: "#07",
        ruler: "Los dorsales van del 0 al 99.",
        weapons: [],
    },
    {
        number: "#08",
        ruler: "Los partidos son de dos partes de 20’.",
        weapons: [],
    },
    {
        number: "#09",
        ruler: "Armas secretas: cada equipo dispone de una carta, escogida al azar, que le otorga una ventaja una sola vez por partido:",
        weapons: [
            {
                title: "Arma 1",
                description: "Penalti a favor",
            },
            {
                title: "Arma 2",
                description: "Exclusión de un rival durante 2’",
            },
            {
                title: "Arma 3",
                description: "Gol doble durante 2’",
            },
            {
                title: "Arma 4",
                description: "Comodín",
            },
            {
                title: "Arma 5",
                description: "Robo de carta",
            },
        ],
    },
];
---

<Layout title="Reglamento">
    <section>
        <h1>Reglamento</h1>

        <p class="">
            La Kings League InfoJobs la creamos entre todos. Y eso incluye la
            forma de jugar y el reglamento. Estas son las normas que los
            aficionados han decidido por votación popular a través de redes
            sociales:
        </p>
        <ul class="">
            {
                REGULATION.map((regulation) => (
                    <li class="">
                        <div class="">
                            <span class="t">{regulation.number}</span>
                            <span class="">{regulation.ruler}</span>
                        </div>
                        <div class="">
                            {regulation.weapons.map((weapon) => (
                                <p class="">
                                    <span class="">{weapon.title}</span>
                                    <span class="">{weapon.description}</span>
                                </p>
                            ))}
                        </div>
                    </li>
                ))
            }
        </ul>

        <div class="block m-auto w-full text-center py-10">
            <a
                class="uppercase bg-black text-white px-10 py-3 rounded m-auto mt-10 text-center text-xl hover:bg-amber-600 transition"
                href="https://kingsleague.pro/pdf/KINGS-League-Reglamento.pdf"
                target="_blank"
                rel="noopener noreferrer"
            >
                Ver todo el reglamento
            </a>
        </div>
    </section>
</Layout>
