---
import Layout from "../../../layouts/Layout.astro";

---

<Layout title="Estadisticas">
    <section>
         <a href="/"> inicio</a>
        <h1>Estadisticas</h1>
        <h3>Clasificaciones</h3>
        <h3>MVP</h3>
        <h3>Maximo Goleador</h3>
        <h3>Asistencias</h3>
    </section>
    
  
    
</Layout>
