---
import Tabla from '../components/Tabla/Tabla.astro';
import Layout from '../layouts/Layout.astro';

---

<Layout title="HOME">
	<main>
		<img class='image-title' src="/imagenes/logo-title.svg" alt="logo" /> 
		<section>
			<Tabla />
		</section>
	</main>
</Layout>

<style>
	.image-title{
		width: 200px;
	}
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	
</style>
