---
import Tarjeta from "../../components/Tarjeta/Tarjeta.astro";
import Layout from "../../layouts/Layout.astro";

import { getAllTeams } from "../../services/teams.js";

const teams = await getAllTeams()
---

<Layout title="Equipos">
    <section>
         <a href="/"> inicio</a>
        <h1>Equipos</h1>
    </section>
    <section class='container-teams'>
        {teams.map(team =>{
            return <Tarjeta name={team.name} image={team.imageWhite} color={team.color} />
        })}
         
    </section>
  
    
</Layout>

<style>
    .container-teams {
        display: flex;
        flex-flow: row wrap;
        gap: 10px ;
        justify-content: center;
        align-items: center;
    }

</style>